@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --base-color: #d6e4e3;
  --text-color: #000000;
  --primary-color: #ffc06e;
  --secondary-color: #8D8DFF;
  --color-1: #ffffff;
  --color-2: #ffffff;
  --color-3: #ffffff;
}

h1, h2, h3 {
  font-family: Merriweather, Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

header {
  color: #81adad;
  background-color: #1d1e20;
}

body {
  background-color: var(--base-color);
  font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
  text-align: center;
}



nav {
  margin: 1em auto 3em auto;
  width: min(1000px, 100%);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}

nav li:first-child {
  margin-right: auto;
  font-family: Merriweather sans-serif, Poppins;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover {
  text-decoration: underline;
}

header, section {
  margin: 2em auto;
  width: min(75em, 100%);
  background-color: var(--color-1);
  padding: min(2em, 15%);
  border-radius: 1em;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

header img {
  max-width: 100%;
  border-radius: 1em;
  object-position: bottom;
}

.text-container {
  flex: 0 1 34em;
}

h1 {
  font-size: 2.5em;
}

.text-container p {
  margin: .75em 0 1em 0;
  font-size: 1.25rem;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: .75em 1.25em;
  border-radius: .5em;
  font-weight: 600;
}

.secondary {
  background-color: var(--secondary-color);
}

section {
  padding: 3em min(2em, 15%);
  background-color: var(--color-2);
  text-align: center;
}

h2 {
  font-size: 2rem;
}

section p {
  margin-top: 1em;
  font-size: 1.25rem;
}

.grid-container {
   margin-top: 3em;
   margin-bottom: 3em;
   display: grid;
   width: 100%;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
  "img-1 img-1 img-2 img-3"
  "img-1 img-1 img-4 img-5"
  "img-1 img-1 img-6 img-7";
  gap: 1em;
}

.grid-container img {
  height: 100%;
  width: 100%;
  border-radius: .5em;
  transition: 100ms ease;
}

.grid-container img:hover {
  scale: 1.05;
}